.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button{
    background-color: #F6E9D3;
    color: black;
    padding: 14px 25px;
    text-align: center;
    border: 1px solid black;
    display: inline-block;
    margin-bottom : 20px;
    outline: none;
}
.button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.snackBar1{
    background-color: green;
    text-align: center;
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 20px;
    bottom: 20px;
}
.snackBar2{
    background-color: rgb(101, 20, 231);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    z-index: 1;
    right: 20px;
    top: 20px;
}
.snackBar3{
    background-color: #5f5f5f;
    text-align: center;
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 20px;
    top: 20px;
}
